* , ::before , ::after {
	box-sizing:border-box;
	margin:0;
	padding:0;
	outline: 1px solid red;
}

html {
	scroll-behavior: smooth;
	font-family: "Trebuchet MS", arial, sans-serif;
}

a {
	text-decoration: none;
}

nav {
	top: 0;
	position: fixed;
	width: 100%;
	height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
	z-index: 10;
}

.links {
	display: flex;

	flex-direction: row;
	list-style: none;
	margin-right: 10px;
}

.links > li {
	margin: 10px;
}

#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#projects {
	height: 500px;
}

@media min-width: 390px {
	#welcome-section {
		max-width: 280px;
	}
}
