* , ::before , ::after {
	box-sizing:border-box;
	margin:0;
	padding:0;
	outline: 1px solid red;
}

nav {
	top: 0;
	position: fixed;
	width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
	z-index: 10;
}

#welcome-section {
	height: 100vh;
}

#projects {
	height: 500px;
}

@media min-width: 390px {
	#welcome-section {
		max-width: 280px;
	}
}
